<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <title>Custom Slider</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <section class="home">
    <div class="description">
      <h1 class="title">
        <span class="gradient-text">Grow Professionally</span> with the Best
      </h1>
      <p class="paragraph">
        You can subscribe to our TuneIt service so you can see tips prepared by a team specialized in studying and
        analyzing cars, correct driving, and complete safety while driving. These tips are prepared by the entire team
        so they are completely reliable.
      </p>
      <form id="form" autocomplete="off">
        <input type="email" id="email-id" name="email_address" aria-label="email adress" placeholder="Enter Your Email"
          required oninput="checkEmpty()" />

        <button type="submit" class="btn1" aria-label="submit">
          <span>Subscribe</span>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </button>
      </form>
    </div>

    <div class="users-color-container">
      <span class="item" style="--i: 1"></span>
      <img class="item"
        src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/274f29ce-0d3f-4ac2-a2aa-f9b7bd188b2a"
        style="--i: 2" alt="" />
      <span class="item" style="--i: 3"></span>
      <img class="item"
        src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/b8a14493-3d9f-4b9b-b93a-56d0bc7243e9"
        style="--i: 4" alt="" />

      <img class="item"
        src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/03e51e1e-9750-45a5-b75e-a1e341d4562a"
        style="--i: 10" alt="" />
      <span class="item" style="--i: 11"></span>
      <img class="item" src="../../../assets/images/pexels-alef-morais-336305364-29881401.jpg" style="--i: 12" alt="" />
      <span class="item" style="--i: 5"></span>

      <span class="item" style="--i: 9"></span>
      <img class="item"
        src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/86c71a79-2efe-4567-8665-b1e5a1fd9735"
        style="--i: 8" alt="" />
      <span class="item" style="--i: 7"></span>
      <img class="item" src="../../../assets/images/pexels-svonhorst-4250875.jpg" style="--i: 6" alt="" />
    </div>
  </section>

  <div class="main">
    <ul class="cards">
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="https://picsum.photos/500/300/?image=10"></div>
          <div class="card_content">
            <h2 class="card_title">Card Grid Layout</h2>
            <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
            <button class="btn card_btn">Read More</button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="https://picsum.photos/500/300/?image=5"></div>
          <div class="card_content">
            <h2 class="card_title">Card Grid Layout</h2>
            <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
            <button class="btn card_btn">Read More</button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="https://picsum.photos/500/300/?image=11"></div>
          <div class="card_content">
            <h2 class="card_title">Card Grid Layout</h2>
            <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
            <button class="btn card_btn">Read More</button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="https://picsum.photos/500/300/?image=14"></div>
          <div class="card_content">
            <h2 class="card_title">Card Grid Layout</h2>
            <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
            <button class="btn card_btn">Read More</button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="https://picsum.photos/500/300/?image=17"></div>
          <div class="card_content">
            <h2 class="card_title">Card Grid Layout</h2>
            <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
            <button class="btn card_btn">Read More</button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="https://picsum.photos/500/300/?image=2"></div>
          <div class="card_content">
            <h2 class="card_title">Card Grid Layout</h2>
            <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>

            <button class="btn">Read More</button>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <h3 class="made_by">Made with ♡</h3>
</body>

</html>