<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login/Signup Form</title>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body style="background-image: url('../../../assets/images/jimmy-woo-uotuURAyPGI-unsplash.jpg');">
  <div class="container" #container>
    <div class="form-box login" *ngIf="!register">
      <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
        <h1 class="header">Login</h1>

        <div class="input-box">
          <input type="email" formControlName="email" placeholder="Email" (ngModelChange)="changeCred()">
          <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error" (ngModelChange)="changeCred()">
            <span *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</span>
            <span *ngIf="loginForm.get('email')?.errors?.['invalidEmailDomain']">Email must be &#64;gmail.com or
              &#64;yahoo.com</span>
          </div>
        </div>

        <div class="input-box">
          <input type="password" formControlName="password" placeholder="Password" (ngModelChange)="changeCred()">
          <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error">
            <span *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</span>
            <span *ngIf="loginForm.get('password')?.errors?.['minlength']">Must be at least 8 characters.</span>
            <span *ngIf="loginForm.get('password')?.errors?.['maxlength']">Maximum is 25 Characters.</span>

            <span *ngIf="loginForm.get('password')?.errors?.['invalidPassword']">
              Password must contain at least:
              <ul class="password-checklist" *ngIf="loginForm.get('password')?.touched">
                <li *ngIf="!hasUpperCase()">One uppercase letter (A-Z).</li>
                <li *ngIf="!hasLowerCase()">One lowercase letter (a-z).</li>
                <li *ngIf="!hasNumber()">One number (0-9).</li>
                <li *ngIf="!hasSpecialChar()">One special character (&#64;#$%^&*).</li>
              </ul>
            </span>
          </div>
          <div class="error">
            <span *ngIf="Loginerrormessage">{{Loginerrormessage}}</span>
          </div>
        </div>

        <div class="remember-me">
          <input type="checkbox" id="rememberMe" formControlName="rememberMe">

          <label for="rememberMe" class="animated-checkbox">
            <span class="checkmark"></span> <span class="remember-me">Remember Me</span>
          </label>
        </div>

        <div class="forgot-link">
          <a href="#" (click)="forgetPassword($event)">Forgot Password?</a>
        </div>

        <button type="submit" class="btn" [disabled]="loginForm.invalid || LoginisLoading" (click)="onLoginSubmit()">
          <ng-container *ngIf="!LoginisLoading; else loadingBars">Login</ng-container>
          <ng-template #loadingBars>
            <div class="loading-bars">
              <div class="bar" *ngFor="let bar of bars; let i = index" [style.animation-delay]="i * 0.1 + 's'"></div>
            </div>
          </ng-template>
        </button>
        

        <p>or login with social platforms</p>
        <div class="social-icons">
          <a id="googleSignInButton"></a>
        </div>
      </form>
    </div>





    <div class="form-box register" *ngIf="register">
      <form action="#" [formGroup]="RegisterForm" (ngSubmit)="onRegisterSubmit()">
        <h1 class="header">Registration</h1>
        <div class="input-box">
          <input type="email" formControlName="username" placeholder="Username" (ngModelChange)="changeUsername()">
          <div *ngIf="RegisterForm.get('username')?.invalid && RegisterForm.get('username')?.touched" class="error">
            <span *ngIf="RegisterForm.get('username')?.errors?.['required']">⚠️ Username is required</span>
            <span *ngIf="RegisterForm.get('username')?.errors?.['minlength']">⚠️ Minimum 3 characters</span>
            <span *ngIf="RegisterForm.get('username')?.errors?.['maxlength']">⚠️ Maximum 20 characters</span>
            <span *ngIf="RegisterForm.get('username')?.errors?.['pattern']">⚠️ Username must contain at least one
              number</span>
          </div>
          <div *ngIf="RegisterUserNameServeError" class="error">
            <span *ngIf="RegisterUserNameServeError">{{RegisterUserNameServeError}}</span>
          </div>
        </div>
        <div class="input-box">
          <input type="email" formControlName="email" placeholder="Email" (ngModelChange)="changeemail()">
          <div *ngIf="RegisterForm.get('email')?.invalid && RegisterForm.get('email')?.touched" class="error">
            <span *ngIf="RegisterForm.get('email')?.errors?.['required']">⚠️ Email is required</span>
            <span *ngIf="RegisterForm.get('email')?.errors?.['email']">⚠️ Invalid email format</span>
            <span *ngIf="RegisterForm.get('email')?.errors?.['invalidEmailDomain']">⚠️ Email must end with .com or
              .net</span>
          </div>
          <div *ngIf="RegisterEmailServeError" class="error">
            <span *ngIf="RegisterEmailServeError">{{RegisterEmailServeError}}</span>
          </div>
        </div>

        <div class="input-box">
          <input type="text" formControlName="phone" placeholder="Phone" (ngModelChange)="changephone()">
          <div *ngIf="RegisterForm.get('phone')?.invalid && RegisterForm.get('phone')?.touched" class="error">
            <span *ngIf="RegisterForm.get('phone')?.errors?.['required']">⚠️ Phone is required</span>
            <span *ngIf="RegisterForm.get('phone')?.errors?.['pattern']">⚠️ Invalid email format</span>
          </div>
          <div *ngIf="RegisterPhoneNumberServeError" class="error">
            <span *ngIf="RegisterPhoneNumberServeError">{{RegisterPhoneNumberServeError}}</span>
          </div>
        </div>

        <div class="input-box">
          <input type="password" formControlName="password" placeholder="Password">
          <div *ngIf="RegisterForm.get('password')?.invalid && RegisterForm.get('password')?.touched" class="error">
            <span *ngIf="RegisterForm.get('password')?.errors?.['required']">Password is required.</span>
            <span *ngIf="RegisterForm.get('password')?.errors?.['minlength']">Must be at least 8 characters.</span>
            <span *ngIf="RegisterForm.get('password')?.errors?.['maxlength']">Maximum is 25 Characters.</span>
            <span *ngIf="RegisterForm.get('password')?.errors?.['invalidPassword']">
              Password must contain at least:
              <ul class="password-checklist" *ngIf="RegisterForm.get('password')?.touched">
                <li *ngIf="!hasUpperCase()">One uppercase letter (A-Z).</li>
                <li *ngIf="!hasLowerCase()">One lowercase letter (a-z).</li>
                <li *ngIf="!hasNumber()">One number (0-9).</li>
                <li *ngIf="!hasSpecialChar()">One special character (&#64;#$%^&*).</li>
              </ul>
            </span>
          </div>

        </div>

        <div class="input-box">
          <input type="password" formControlName="confirmpassword" placeholder="Confirm Password">
          <div *ngIf="RegisterForm.get('confirmpassword')?.invalid && RegisterForm.get('confirmpassword')?.touched"
            class="error">
            <span *ngIf="RegisterForm.get('confirmpassword')?.errors?.['required']">⚠️ Confirm Password is
              required</span>
            <span *ngIf="RegisterForm.get('confirmpassword')?.errors?.['passwordsNotMatch']">⚠️ Passwords do not
              match</span>
          </div>
        </div>
        <button type="submit" class="btn" [disabled]="RegisterForm.invalid || RegisterisLoading" (click)="onRegisterSubmit()">
          <ng-container *ngIf="!RegisterisLoading; else loadingBars">Register</ng-container>
          <ng-template #loadingBars>
            <div class="loading-bars">
              <div class="bar" *ngFor="let bar of bars; let i = index" [style.animation-delay]="i * 0.1 + 's'"></div>
            </div>
          </ng-template>
        </button>
        <p>or login with social platforms</p>
        <div class="social-icons">
          <a id="googleSignInButton"></a>
        </div>
      </form>
    </div>

    <div class="toggle-box">
      <div class="toggle-panel toggle-left">
        <h1>Hello, Welcome!</h1>
        <p>Don't have an account?</p>
        <button class="btn register-btn" (click)="onRegisterClick()">Register</button>
      </div>

      <div class="toggle-panel toggle-right">
        <h1>Welcome Back!</h1>
        <p>Already have an account?</p>
        <button class="btn login-btn" (click)="onLoginClick()">Login</button>
      </div>
    </div>
  </div>

  <div class="modal" *ngIf="isOtpModalOpen">
    <div class="modal-content" *ngIf="!PasswordChanged">
      <span class="close-icon" (click)="closeforgetModal()">&#10006;</span> <!-- ❌ زرار الإغلاق -->
      <div class="Otpheader">
        <h4>Technical support has sent you a Reset Password Code to your email. Please check the latest messages sent to
          the registered email.</h4>
      </div>
      <h2>Enter OTP</h2>
      <form [formGroup]="forgetOTPForm">
        <div class="otp-container">
          <input type="text" maxlength="1" [(ngModel)]="forgetotp[0]" formControlName="otp0"
            (input)="forgetmoveToNext($event, 0)" [class.animated]="forgetotp[0]"
            [class.invalid]="forgetOTPForm.get('otp0')?.invalid && forgetOTPForm.get('otp0')?.touched"
            (blur)="forgetonInputFocus()" (keydown)="forgetmoveToNext($event, 0)" (paste)="handleforgetPaste($event)">
          <input type="text" maxlength="1" [(ngModel)]="forgetotp[1]" formControlName="otp1"
            (input)="forgetmoveToNext($event, 1)" [class.animated]="forgetotp[1]"
            [class.invalid]="forgetOTPForm.get('otp1')?.invalid && forgetOTPForm.get('otp1')?.touched"
            (blur)="forgetonInputFocus()" (keydown)="forgetmoveToNext($event, 1)" (paste)="handleforgetPaste($event)">
          <input type="text" maxlength="1" [(ngModel)]="forgetotp[2]" formControlName="otp2"
            (input)="forgetmoveToNext($event, 2)" [class.animated]="forgetotp[2]"
            [class.invalid]="forgetOTPForm.get('otp02')?.invalid && forgetOTPForm.get('otp2')?.touched"
            (blur)="forgetonInputFocus()" (keydown)="forgetmoveToNext($event, 2)" (paste)="handleforgetPaste($event)">
          <input type="text" maxlength="1" [(ngModel)]="forgetotp[3]" formControlName="otp3"
            (input)="forgetmoveToNext($event, 3)" [class.animated]="forgetotp[3]"
            [class.invalid]="forgetOTPForm.get('otp3')?.invalid && forgetOTPForm.get('otp3')?.touched"
            (blur)="forgetonInputFocus()" (keydown)="forgetmoveToNext($event, 3)" (paste)="handleforgetPaste($event)">
          <!-- New Password Fields -->
        </div>
        <div class="error">
          <span *ngIf="invalidOtp">Invalid OTP</span>
          <span *ngIf="otpRequired">OTP is Required</span>
        </div>
        <div class="password-container">
          <input type="password" placeholder="New Password"  formControlName="NewPassword"
            [class.invalid]="forgetOTPForm.get('NewPassword')?.invalid && forgetOTPForm.get('NewPassword')?.touched">
            <div *ngIf="forgetOTPForm.get('NewPassword')?.invalid && forgetOTPForm.get('NewPassword')?.touched" class="error">
              <span *ngIf="forgetOTPForm.get('NewPassword')?.errors?.['required']">Password is required.</span>
              <span *ngIf="forgetOTPForm.get('NewPassword')?.errors?.['minlength']">Must be at least 8 characters.</span>
              <span *ngIf="forgetOTPForm.get('NewPassword')?.errors?.['maxlength']">Maximum is 25 Characters.</span>
              <span *ngIf="forgetOTPForm.get('NewPassword')?.errors?.['invalidPassword']">
                Password must contain at least:
                <ul class="password-checklist" *ngIf="forgetOTPForm.get('NewPassword')?.touched">
                  <li *ngIf="!hasUpperCase()">One uppercase letter (A-Z).</li>
                  <li *ngIf="!hasLowerCase()">One lowercase letter (a-z).</li>
                  <li *ngIf="!hasNumber()">One number (0-9).</li>
                  <li *ngIf="!hasSpecialChar()">One special character (&#64;#$%^&*).</li>
                </ul>
              </span>
            </div>
          <input type="password" placeholder="Confirm New Password" 
            formControlName="ConfirmNewPassword"
            [class.invalid]="forgetOTPForm.get('ConfirmNewPassword')?.invalid && forgetOTPForm.get('ConfirmNewPassword')?.touched">
            <div *ngIf="forgetOTPForm.get('ConfirmNewPassword')?.invalid && forgetOTPForm.get('ConfirmNewPassword')?.touched"
            class="error">
            <span *ngIf="forgetOTPForm.get('ConfirmNewPassword')?.errors?.['required']">⚠️ Confirm Password is
              required</span>
            <span *ngIf="forgetOTPForm.get('ConfirmNewPassword')?.errors?.['passwordsNotMatch']">⚠️ Passwords do not
              match</span>
          </div>
        </div>
        
        <div class="otp-buttons">
          <button class="btn btn-verify" (click)="forgetverifyOtp()" [disabled]="forgetOTPForm.invalid">
            Verify
          </button>
          <button class="btn btn-resend" [disabled]="showMessage" (click)="ResendForgetOTP()">
            Resend OTP
          </button>
        </div>
      </form>
      <div class="resendmessage" *ngIf="showMessage">
        <p>Reset Password Code has been resent to Your Email</p>
        <div class="timer">{{ minutes }}:{{ seconds | number: '2.0' }}</div>
      </div>
    </div>

    <div class="modal-content" *ngIf="PasswordChanged">
      <span class="close-icon" (click)="closeforgetModal()">&#10006;</span> <!-- ❌ زرار الإغلاق -->
      <div class="Otpheader">
        <h4>Your Password Has Changed.</h4>
      </div>
      <h5>Thanks For Using Tripix</h5>
    </div>
  </div>

  <!-- ✅ Blur Effect -->
  <div class="blur-overlay" *ngIf="isOtpModalOpen"></div>

  <div class="modal" *ngIf="isRegisterOtpModalOpen">
    <div class="modal-content">
      <span class="close-icon" (click)="closeRegisterModal()">&#10006;</span> <!-- ❌ زرار الإغلاق -->
      <div class="Otpheader">
        <h4>Technical support has sent you a Reset Password Code to your email. Please check the latest messages sent to
          the registered email.</h4>
      </div>
      <h2>Enter OTP</h2>
      <form [formGroup]="registerOTPForm">
        <div class="otp-container">
          <input type="text" maxlength="1" [(ngModel)]="registerotp[0]" formControlName="otp0"
            (input)="registermoveToNext($event, 0)" [class.animated]="registerotp[0]"
            [class.invalid]="registerOTPForm.get('otp0')?.invalid && registerOTPForm.get('otp0')?.touched"
            (blur)="registeronInputFocus()" (keydown)="registermoveToNext($event, 0)"
            (paste)="handleRegisterPaste($event)">
          <input type="text" maxlength="1" [(ngModel)]="registerotp[1]" formControlName="otp1"
            (input)="registermoveToNext($event, 1)" [class.animated]="registerotp[1]"
            [class.invalid]="registerOTPForm.get('otp1')?.invalid && registerOTPForm.get('otp1')?.touched"
            (blur)="registeronInputFocus()" (keydown)="registermoveToNext($event, 1)"
            (paste)="handleRegisterPaste($event)">
          <input type="text" maxlength="1" [(ngModel)]="registerotp[2]" formControlName="otp2"
            (input)="registermoveToNext($event, 2)" [class.animated]="registerotp[2]"
            [class.invalid]="registerOTPForm.get('otp02')?.invalid && registerOTPForm.get('otp2')?.touched"
            (blur)="registeronInputFocus()" (keydown)="registermoveToNext($event, 2)"
            (paste)="handleRegisterPaste($event)">
          <input type="text" maxlength="1" [(ngModel)]="registerotp[3]" formControlName="otp3"
            (input)="registermoveToNext($event, 3)" [class.animated]="registerotp[3]"
            [class.invalid]="registerOTPForm.get('otp3')?.invalid && registerOTPForm.get('otp3')?.touched"
            (blur)="registeronInputFocus()" (keydown)="registermoveToNext($event, 3)"
            (paste)="handleRegisterPaste($event)">
        </div>
        <div class="error">
          <span *ngIf="invalidOtp">Invalid OTP</span>
          <span *ngIf="otpRequired">OTP is Required</span>
        </div>
        <div class="otp-buttons">
          <button class="btn btn-verify" (click)="registerverifyOtp()" [disabled]="registerOTPForm.invalid">
            Verify
          </button>
          <button class="btn btn-resend" [disabled]="showMessage" (click)="ResendconfirmOTP()">
            Resend OTP
          </button>
        </div>
      </form>
      <div class="resendmessage" *ngIf="showMessage">
        <p>Reset Password Code has been resent to Your Email</p>
        <div class="timer">{{ minutes }}:{{ seconds | number: '2.0' }}</div>
      </div>
    </div>
  </div>

  <!-- ✅ Blur Effect -->
  <div class="blur-overlay" *ngIf="isRegisterOtpModalOpen"></div>



</body>

</html>