<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/6.0.3/ionicons.min.css">

</head>

<body style="background-image: url('../../../assets/images/v1016-b-09.jpg');">
    <div class="overlay" data-overlay></div>

    <div #modalRef class="modal" data-modal>
        <div class="modal-close-overlay" (click)="CloseModal(modalRef)"></div>

        <div class="modal-content">
            <button class="modal-close-btn" (click)="CloseModal(modalRef)">
                <i class="fa-solid fa-xmark"></i>
            </button>

            <div class="newsletter-img">
                <img src="../../../assets/images/Picsart_25-01-29_01-51-17-273.jpg" alt="image" width="400"
                    height="400">
            </div>

            <div class="newsletter">
                <form action="#">
                    <div class="newsletter-header">
                        <h3 class="newsletter-title"><span style="color:brown">Tripix</span> Car Events</h3>

                        <p class="newsletter-desc">Check For New Events Now Sponsored by<b style="color: brown;"> Tripix
                            </b> And Get Your Ticket</p>
                    </div>

                    <button type="submit" class="btn-newsletter" (click)="OnReadMore()">Read More</button>
                </form>
            </div>
        </div>
    </div>

    <div class="notification-toast" data-toast>
        <button class="toast-close-btn" data-toast-close>
            <i class="fa-solid fa-xmark"></i>
        </button>

        <div class="toast-banner">
            <img src="https://i.postimg.cc/6qd3mpCv/jewellery-1.jpg" alt="Ocean Golden Tear Earrings" width="80"
                height="70">
        </div>

        <div class="toast-detail">
            <p class="toast-message">Someone just bought this item</p>
            <p class="toast-title">Ocean Golden Drop Earrings</p>
        </div>
    </div>

    <header>
        <div class="header-top">
            <div class="container">
                <ul class="header-social-container">
                    <li><a href="#" class="social-link"><i class="fa-brands fa-facebook-f"></i> </a></li>
                    <li><a href="#" class="social-link"><i class="fa-brands fa-twitter"></i> </a></li>
                    <li><a href="#" class="social-link"><i class="fa-brands fa-linkedin-in"></i></a></li>
                    <li><a href="#" class="social-link"><i class="fa-brands fa-tiktok"></i> </a></li>
                </ul>

                <div class="header-alert-news">
                    <p>{{username}} , <span class="Gradiant">We Are Happy To Have You
                            Here</span></p>
                </div>

                <div class="header-top-actions">
                    <select name="language">
                        <option value="en-US">English</option>
                        <option value="es-ES">Arabic</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="header-main">
            <div class="container">
                <a href="#" class="header-logo">
                    <h1 class="wave-text">Tripix</h1>
                </a>

                <div class="header-search-container">
                    <input type="search" name="search" class="search-field" placeholder="Enter Model , Car Name">

                    <button class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>

                <div class="header-user-actions">
                    <button class="action-btn" routerLink="/Sign In" *ngIf="!isLoggedIn"><i
                            class="fa-regular fa-user"></i>
                        <span> Sign In</span></button>

                    <!-- الزر -->
                    <button class="action-btn" (click)="showLogoutMessage()" #logoutBtn *ngIf="isLoggedIn">
                        <i class="fa-solid fa-person-walking-arrow-right fa-flip-horizontal fa-lg"></i>
                        <span>Log Out</span>
                    </button>

                    <!-- الرسالة -->
                    <div *ngIf="showMessage" @fadeInOut class="logout-message">
                        <div class="triangle-up"></div>
                        <p>Are You Sure For Logout</p>
                        <button class="btn btn-logout" (click)="confirmLogout()">Log Out</button>
                    </div>



                    <button class="action-btn" routerLink="/Washlets">
                        <i class="fa-regular fa-heart"></i>
                        <span class="count">0</span>
                    </button>
                </div>

            </div>
        </div>

        <nav class="desktop-navigation-menu">
            <div class="container" style="padding-bottom: 7px; padding-top: 5px;">
                <ul class="desktop-menu-category-list">

                    <li class="menu-category">
                        <a href="#" class="menu-title"></a>
                    </li>

                    <li class="menu-category">
                        <a class="menu-title">Buy New Vehicles</a>

                        <div class="dropdown-panel">
                            <ul class="dropdown-panel-list">
                                <li class="menu-title"><a routerLink="/OurCars">Cars</a></li>
                                <li class="panel-list-item"><a routerLink="/OurCars"
                                        [queryParams]="{ type: 'Sedan' }">SEDAN</a></li>
                                <li class="panel-list-item"><a routerLink="/OurCars"
                                        [queryParams]="{ type: 'Coupe' }">COUPE</a></li>
                                <li class="panel-list-item"><a routerLink="/OurCars"
                                        [queryParams]="{ type: 'Hatchback' }">HATCHBACK</a></li>
                                <li class="panel-list-item"><a routerLink="/OurCars"
                                        [queryParams]="{ type: 'SUV' }">SPORT-UTILITY VEHICLE (SUV)</a></li>
                                <li class="panel-list-item">
                                    <img src="../../../assets/images/campbell-3ZUsNJhi_Ik-unsplash.jpg" alt="image"
                                        class="product-image">
                                </li>
                            </ul>

                            <ul class="dropdown-panel-list">
                                <li class="menu-title"><a routerLink="/OurMotorbikes">Motorcycles</a></li>
                                <li class="panel-list-item"><a routerLink="/OurMotorbikes"
                                        [queryParams]="{ type: 'Standard' }">Standard</a></li>
                                <li class="panel-list-item"><a routerLink="/OurMotorbikes"
                                        [queryParams]="{ type: 'Cruiser' }">Cruiser</a></li>
                                <li class="panel-list-item"><a routerLink="/OurMotorbikes"
                                        [queryParams]="{ type: 'Sport' }">Sport</a></li>
                                <li class="panel-list-item"><a routerLink="/OurMotorbikes"
                                        [queryParams]="{ type: 'Off-road' }">Off-road</a></li>
                                <li class="panel-list-item">
                                    <img src="../../../assets/images/lucas-t-wb6dyvkqpyo-unsplash.jpg" alt="image"
                                        width="100" height="100" class="product-image">
                                </li>
                            </ul>


                            <ul class="dropdown-panel-list">
                                <li class="menu-title"><a routerLink="/OurElectricCars">Electric Cars</a></li>
                                <li class="panel-list-item"><a routerLink="/OurElectricCars"
                                        [queryParams]="{ type: 'Sedan' }">SEDAN</a></li>
                                <li class="panel-list-item"><a routerLink="/OurElectricCars"
                                        [queryParams]="{ type: 'Coupe' }">COUPE</a></li>
                                <li class="panel-list-item"><a routerLink="/OurElectricCars"
                                        [queryParams]="{ type: 'Hatchback' }">HATCHBACK</a></li>
                                <li class="panel-list-item"><a routerLink="/OurElectricCars"
                                        [queryParams]="{ type: 'SUV' }">SPORT-UTILITY VEHICLE (SUV)</a></li>
                                <li class="panel-list-item">
                                    <img src="../../../assets/images/michal-lauko-h7J4MLTXDsg-unsplash.jpg" alt="image"
                                        width="100" height="100" class="product-image">
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="menu-category">
                        <a href="#" class="menu-title">BUY USED VEHICLES</a>

                        <ul class="dropdown-list">
                            <li class="dropdown-item"><a routerLink="/OurCars" [queryParams]="{ type: 'Used' }">Cars</a>
                            </li>
                            <li class="dropdown-item"><a routerLink="/OurElectricCars"
                                    [queryParams]="{ type: 'Used' }">Electric Cars</a></li>
                            <li class="dropdown-item"><a routerLink="/OurMotorbikes"
                                    [queryParams]="{ type: 'Used' }">Motor Bikes</a></li>

                        </ul>
                    </li>


                    <li class="menu-category">
                        <a href="#" class="menu-title" routerLink="/Services">Services</a>

                        <ul class="dropdown-list">
                            <li class="dropdown-item"><a routerLink="/CarWash">Car Washing</a></li>
                            <li class="dropdown-item"><a routerLink="/CarRepair">Car Repair</a></li>
                            <li class="dropdown-item"><a routerLink="/Helpoo">Helpoo</a></li>
                        </ul>
                    </li>

                    <li class="menu-category">
                        <a class="menu-title" routerLink="/CarRental">Car Rental</a>
                    </li>

                    <li class="menu-category">
                        <a class="menu-title">Spare Parts</a>

                        <ul class="dropdown-list">
                            <li class="dropdown-item"><a routerLink="/SpareParts"
                                    [queryParams]="{ type: 'Cars' }">Cars</a></li>
                            <li class="dropdown-item"><a routerLink="/SpareParts"
                                    [queryParams]="{ type: 'ElectricCars' }">Electric Cars</a></li>
                            <li class="dropdown-item"><a routerLink="/SpareParts"
                                    [queryParams]="{ type: 'Motorbikes' }">Motorbikes</a></li>
                        </ul>
                    </li>

                    <li class="menu-category">
                        <a routerLink="/Events" class="menu-title">Events</a>
                    </li>

                    <li class="menu-category">
                        <a routerLink="/Blogs" class="menu-title">Blogs</a>
                    </li>

                    <li class="menu-category">
                        <a routerLink="/About" class="menu-title">About</a>
                    </li>




                    <li class="menu-category">
                        <button class="gradient-button" (click)="SellCar()">Sell My Car</button>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="mobile-bottom-navigation">
            <button class="action-btn" data-mobile-menu-open-btn>
                <i class="fa-solid fa-bars"></i>
            </button>

            <button class="action-btn">
                <i class="fa-regular fa-house"></i>
            </button>

            <button class="action-btn">
                <i class="fa-regular fa-heart"></i>
                <span class="count">0</span>
            </button>

            <button class="action-btn" data-mobile-menu-open-btn>
                <i class="fa-solid fa-grip"></i>
            </button>
        </div>

        <nav class="mobile-navigation-menu has-scrollbar " data-mobile-menu>
            <div class="menu-top">
                <h2 class="menu-title">Menu</h2>

                <button class="menu-close-btn" data-mobile-menu-close-btn>
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>

            <ul class="mobile-menu-category-list">
                <li class="menu-category"><a href="#" class="menu-title">Home</a></li>



                <li class="menu-category">
                    <button class="accordion-menu" data-accordion-btn>
                        <p class="menu-title">Services</p>

                        <div>

                        </div>
                    </button>

                    <ul class="submenu-category-list" data-accordion>
                        <li class="submenu-category"><a href="#" class="submenu-title">car Washing</a></li>
                        <li class="submenu-category"><a href="#" class="submenu-title">Maintenance</a></li>
                        <li class="submenu-category"><a href="#" class="submenu-title">Car Rental</a></li>
                        <li class="submenu-category"><a href="#" class="submenu-title">Helpoo</a></li>
                    </ul>
                </li>

                <li class="menu-category">
                    <button class="accordion-menu" data-accordion-btn>
                        <p class="menu-title">Gallery</p>

                        <div>

                        </div>
                    </button>

                    <ul class="submenu-category-list" data-accordion>
                        <li class="submenu-category"><a href="#" class="submenu-title">Cars</a></li>
                        <li class="submenu-category"><a href="#" class="submenu-title">Motorbikes</a></li>
                    </ul>
                </li>

                <li class="menu-category">

                    <ul class="submenu-category-list" data-accordion>
                        <li class="submenu-category"><a href="#" class="submenu-title">Cars</a></li>
                        <li class="submenu-category"><a href="#" class="submenu-title">Motorbikes</a></li>
                    </ul>
                </li>

                <li class="menu-category"><a href="#" class="menu-title">Blog</a></li>

                <li class="menu-category"><a href="#" class="menu-title">About</a></li>
                <li class="menu-category"><a href="#" class="menu-title">Hot Offers</a></li>
            </ul>

            <div class="menu-bottom">
                <ul class="menu-category-list">
                    <li class="menu-category">
                        <button class="accordion-menu " data-accordion-btn>
                            <p class="menu-title">Language</p>
                            <i class="fa-solid fa-caret-left"></i>
                        </button>

                        <ul class="submenu-category-list " data-accordion>
                            <li class="submenu-category"><a href="#" class="submenu-title">English</a></li>
                            <li class="submenu-category"><a href="#" class="submenu-title">Arabic</a></li>
                        </ul>
                    </li>

                    <li class="menu-category">
                        <button class="accordion-menu" data-accordion-btn>
                            <p class="menu-title">Currency</p>
                            <i class="fa-solid fa-caret-left"></i>
                        </button>

                        <ul class="submenu-category-list" data-accordion>
                            <li class="submenu-category"><a href="#" class="submenu-title">USD &dollar;</a></li>
                            <li class="submenu-category"><a href="#" class="submenu-title">Egp</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="menu-social-container">
                    <li><a href="#" class="social-link"><i class="fa-brands fa-facebook-f"></i> </a></li>
                    <li><a href="#" class="social-link"><i class="fa-brands fa-twitter"></i> </a></li>
                    <li><a href="#" class="social-link"><i class="fa-brands fa-linkedin-in"></i> </a></li>
                    <li><a href="#" class="social-link"><i class="fa-brands fa-tiktok"></i> </a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <section class="slider_container" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
            <div class="arrow left" (click)="moveSlide('left')"><i class="fa-solid fa-chevron-left fa-lg"></i></div>
            <section class="slider">
                <div class="slide one">
                    <img src="../../../assets/images/1738329591726.jpg" class="banner-img" alt="" />
                    <div class="banner-content">
                        <p class="banner-subtitle">Order Your Trip Now</p>
                        <h2 class="banner-title">You can finish your trip via <span
                                style="color: rosybrown;">TRIPIX</span></h2>
                        <p class="banner-text">Startting at &dollar; <b>20</b>.00</p>
                        <a href="#" class="banner-btn" routerLink="/TripixPage">Order Now</a>
                    </div>
                </div>
                <div class="slide two">
                    <img src="../../../assets/images/1738337360352.jpg" class="banner-img" alt="" />
                    <div class="banner-content">
                        <a href="#" class="banner-btn" style="font-size: 20px; margin-top: 210px;">Download Now</a>
                    </div>
                </div>
                <div class="slide three">
                    <img src="../../../assets/images/1738337251753.jpg" class="banner-img" alt="" />
                    <div class="banner-content">
                        <a href="#" class="banner-btn"
                            style="margin-top: 280px; margin-left: 10px;  font-size: 20px; border-radius: 20px; background-color: white; color:black;">Explore
                            Now</a>
                    </div>
                </div>
                <div class="slide four">
                    <img src="../../../assets/images/e8afda38-c8d0-44d3-82cd-8327875fccd1.jpg" alt="" />
                    <div class="banner-content">
                        <a href="#" class="banner-btn"
                            style="margin-top: 233px; margin-left: 15px;  font-size: 30px; border-radius: 20px; background-color: white; color:black;">Apply
                            Now</a>
                    </div>
                </div>
            </section>
            <div class="arrow right" (click)="moveSlide('right')"><i class="fa-solid fa-chevron-right fa-lg"></i></div>
        </section>
        <div class="category">
            <div class="container">
                <div class="category-item-container has-scrollbar">
                    <div class="category-item">
                        <div class="category-img-box">
                            <img src="../../../assets/images/avinz5yjj.png" alt="dress & frock" width="60">
                        </div>

                        <div class="category-content-box">
                            <div class="category-content-flex">
                                <h3 class="category-item-title">Sedan</h3>
                                <p class="category-item-amount">(53)</p>
                            </div>
                            <a href="#" class="category-btn">Show All</a>
                        </div>
                    </div>

                    <div class="category-item">
                        <div class="category-img-box">
                            <img src="../../../assets/images/download.png" alt="winter wear" width="60">
                        </div>

                        <div class="category-content-box">
                            <div class="category-content-flex">
                                <h3 class="category-item-title">Hatchback</h3>
                                <p class="category-item-amount">(58)</p>
                            </div>
                            <a href="#" class="category-btn">Show All</a>
                        </div>
                    </div>

                    <div class="category-item">
                        <div class="category-img-box">
                            <img src="../../../assets/images/images.png" alt="glasses & lens" width="40">
                        </div>

                        <div class="category-content-box">
                            <div class="category-content-flex">
                                <h3 class="category-item-title">Motorbikes</h3>
                                <p class="category-item-amount">(68)</p>
                            </div>
                            <a href="#" class="category-btn">Show All</a>
                        </div>
                    </div>



                    <div class="category-item">
                        <div class="category-img-box">
                            <img src="../../../assets/images/The-Electric-Vehicles-in-Australia.png" alt="jacket"
                                width="70">
                        </div>

                        <div class="category-content-box">
                            <div class="category-content-flex">
                                <h3 class="category-item-title">Electric Cars</h3>
                                <p class="category-item-amount">(16)</p>
                            </div>
                            <a href="#" class="category-btn">Show All</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-container">
            <div class="container">
                <div class="sidebar has-scrollbar " data-mobile-menu>
                    <div class="sidebar-category">
                        <div class="sidebar-top">
                            <h2 class="sidebar-title">Category</h2>

                            <button class="sidebar-close-btn" data-mobile-menu-close-btn>
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>

                        <ul class="sidebar-menu-category-list">
                            <li class="sidebar-menu-category">
                                <button class="sidebar-accordion-menu" data-accordion-btn>
                                    <div class="menu-title-flex">
                                        <img src="../../../assets/images/avinz5yjj.png" alt="clothes"
                                            class="menu-title-img" width="40">
                                        <p class="menu-title">Cars</p>
                                    </div>

                                    <div>

                                    </div>
                                </button>

                                <ul class="sidebar-submenu-category-list" data-accordion>
                                    <li class="sidebar-submenu-category">
                                        <a href="#" class="sidebar-submenu-title">
                                            <p class="product-name">Sedan</p>
                                            <data value="300" class="stock" title="Available Stock">300</data>
                                        </a>
                                    </li>

                                    <li class="sidebar-submenu-category">
                                        <a href="#" class="sidebar-submenu-title">
                                            <p class="product-name">Hatchback</p>
                                            <data value="60" class="stock" title="Available Stock">60</data>
                                        </a>
                                    </li>

                                    <li class="sidebar-submenu-category">
                                        <a href="#" class="sidebar-submenu-title">
                                            <p class="product-name">Coupe</p>
                                            <data value="50" class="stock" title="Available Stock">50</data>
                                        </a>
                                    </li>

                                    <li class="sidebar-submenu-category">
                                        <a href="#" class="sidebar-submenu-title">
                                            <p class="product-name">SUV</p>
                                            <data value="87" class="stock" title="Available Stock">87</data>
                                        </a>
                                    </li>
                                </ul>
                            </li>



                            <li class="sidebar-menu-category">
                                <button class="sidebar-accordion-menu" data-accordion-btn>
                                    <div class="menu-title-flex">
                                        <img src="../../../assets/images/images.png" alt="jewelyr"
                                            class="menu-title-img" width="40">
                                        <p class="menu-title">Motorbikes</p>
                                    </div>

                                    <div>

                                    </div>
                                </button>

                                <ul class="sidebar-submenu-category-list" data-accordion>
                                    <li class="sidebar-submenu-category">
                                        <a href="#" class="sidebar-submenu-title">
                                            <p class="product-name">Standard</p>
                                            <data value="46" class="stock" title="Available Stock">46</data>
                                        </a>
                                    </li>

                                    <li class="sidebar-submenu-category">
                                        <a href="#" class="sidebar-submenu-title">
                                            <p class="product-name">Sport</p>
                                            <data value="73" class="stock" title="Available Stock">73</data>
                                        </a>
                                    </li>

                                    <li class="sidebar-submenu-category">
                                        <a href="#" class="sidebar-submenu-title">
                                            <p class="product-name">Off-Road</p>
                                            <data value="61" class="stock" title="Available Stock">61</data>
                                        </a>
                                    </li>

                                </ul>
                            </li>

                            <li class="sidebar-menu-category">
                                <button class="sidebar-accordion-menu" data-accordion-btn>
                                    <div class="menu-title-flex">
                                        <img src="../../../assets/images/The-Electric-Vehicles-in-Australia.png"
                                            alt="perfume" class="menu-title-img" width="40">
                                        <p class="menu-title">Electric Cars</p>
                                    </div>

                                    <div>

                                    </div>
                                </button>

                                <ul class="sidebar-submenu-category-list" data-accordion>
                                    <li class="sidebar-submenu-category">
                                        <a href="#" class="sidebar-submenu-title">
                                            <p class="product-name">BEVs</p>
                                            <data value="60" class="stock" title="Available Stock">60 pcs</data>
                                        </a>
                                    </li>

                                    <li class="sidebar-submenu-category">
                                        <a href="#" class="sidebar-submenu-title">
                                            <p class="product-name">PHEVs</p>
                                            <data value="50" class="stock" title="Available Stock">50 pcs</data>
                                        </a>
                                    </li>

                                    <li class="sidebar-submenu-category">
                                        <a href="#" class="sidebar-submenu-title">
                                            <p class="product-name">HEVs</p>
                                            <data value="87" class="stock" title="Available Stock">87 pcs</data>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <div class="product-showcase" style="backdrop-filter: blur(10px); padding: 20px;">
                        <h3 class="showcase-heading">Best Sellers</h3>

                        <div class="showcase-wrapper">
                            <div class="showcase-container">
                                <div class="showcase">
                                    <a href="#" class="showcase-img-box">
                                        <img src="../../../assets/images/car.webp" alt="baby fabric shoes"
                                            class="showcase-img" width="100">
                                    </a>

                                    <div class="showcase-content">
                                        <a href="#">
                                            <h4 class="showcase-title">BMW</h4>
                                        </a>

                                        <div class="showcase-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>

                                        <div class="price-box">
                                            <del>$5.00</del>
                                            <p class="price">$4.00</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product-box">
                    <div class="product-minimal">
                        <div class="product-showcase">
                            <h2 class="title">New Arrivals</h2>

                            <div class="showcase-wrapper has-scrollbar">
                                <div class="showcase-container">
                                    <div class="showcase">
                                        <a href="#" class="showcase-img-box">
                                            <img src="../../../assets/images/car.webp"
                                                alt="relaxed short full sleeve t-shirt" class="showcase-img"
                                                width="120">
                                        </a>

                                        <div class="showcase-content">
                                            <a href="#">
                                                <h4 class="showcase-title">Rang Rover</h4>
                                            </a>


                                            <div class="price-box">
                                                <p class="price">$45.00</p>
                                                <del>$12.00</del>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="showcase-container">
                                </div>
                            </div>
                        </div>

                        <div class="product-showcase">
                            <h2 class="title">Trending</h2>

                            <div class="showcase-wrapper has-scrollbar">
                                <div class="showcase-container">
                                    <div class="showcase">
                                        <a href="#" class="showcase-img-box">
                                            <img src="../../../assets/images/car2.webp"
                                                alt="running & trekking shoes - white" class="showcase-img" width="120">
                                        </a>

                                        <div class="showcase-content">
                                            <a href="#">
                                                <h4 class="showcase-title">Toyota</h4>
                                            </a>


                                            <div class="price-box">
                                                <p class="price">$49.00</p>
                                                <del>$15.00</del>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="showcase-container">
                                </div>
                            </div>
                        </div>

                        <div class="product-showcase">
                            <h2 class="title">Top Rated</h2>

                            <div class="showcase-wrapper has-scrollbar">
                                <div class="showcase-container">
                                    <div class="showcase">
                                        <a href="#" class="showcase-img-box">
                                            <img src="../../../assets/images/car3.webp" alt="pocket watch leather pouch"
                                                class="showcase-img" width="120">
                                        </a>

                                        <div class="showcase-content">
                                            <a href="#">
                                                <h4 class="showcase-title">Pocket Watch Leather Pouch</h4>
                                            </a>


                                            <div class="price-box">
                                                <p class="price">$50.00</p>
                                                <del>$34.00</del>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="showcase-container">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="product-main">
                        <h2 class="title">Our Cars</h2>

                        <div style="text-align: center;">
                            <div class="category-tabs">
                                <div *ngFor="let cat of categories" class="category-tab"
                                    [ngClass]="{ active: selectedCategory === cat.key }"
                                    (click)="selectCategory(cat.key)">
                                    {{ cat.label }}
                                </div>
                            </div>
                        </div>

                        <div class="product-grid">

                            <ng-container *ngFor="let car of OurCars">
                                <div class="container-loading" *ngIf="ProductsLoading">
                                    <div class="showcase-content loading-skeleton">
                                        <div class="skeleton skeleton-image shimmer"></div>
                                        <div class="skeleton skeleton-category shimmer"></div>
                                        <div class="skeleton skeleton-title shimmer"></div>
                                        <div class="skeleton skeleton-rating shimmer"></div>
                                        <div class="skeleton skeleton-price shimmer"></div>
                                    </div>
                                </div>
                            </ng-container>

                            <ng-container *ngFor="let car of OurCars">
                                <div class="showcase fade-in" *ngIf="!ProductsLoading">
                                    <div class="showcase-banner">
                                        <img [src]="'https://localhost:7012/'+car.imagesUrls[0]"
                                            alt="Mens Winter Leathers Jackets" class="product-img default" width="300">
                                        <img [src]="'https://localhost:7012/'+car.imagesUrls[1]"
                                            alt="Mens Winter Leathers Jackets" class="product-img hover" width="300">

                                        <p class="showcase-badge">{{car.discount}}</p>

                                        <div class="showcase-actions">
                                            <button class="btn-action" (click)="toggleLike()"><i
                                                    class="fa-solid fa-heart"
                                                    [ngClass]="isLiked ? 'fa-heart' : 'fa-heart-o'"></i></button>
                                            <button class="btn-action"><i class="fa-solid fa-eye"></i></button>
                                            <button class="btn-action"><i
                                                    class="fa-solid fa-cash-register"></i></button>
                                            <button class="btn-action"><i class="fa-solid fa-share"></i></button>
                                        </div>
                                    </div>



                                    <div class="showcase-content">
                                        <a href="#" class="showcase-category">{{car.name}}</a>
                                        <a href="#">
                                            <h3 class="showcase-title">Electric Car</h3>
                                        </a>

                                        <div class="showcase-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </div>
                                        <div class="price-box">
                                            <p class="price">{{car.price}}</p>
                                            <del>$75.00</del>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="container">
                <div class="testimonials-box">
                    <div class="testimonial">
                        <h2 class="title">Testimonial</h2>

                        <div class="testimonial-card">
                            <img src="../../../assets/images/ahmed el wakil.jpg" alt="alan doe"
                                class="testimonial-banner" width="80" height="80">

                            <p class="testimonial-name">Ahmed el Wakil</p>

                            <p class="testimonial-title">Car Expert & Lotus Ambassador </p>

                            <img src="https://i.postimg.cc/QCSxhM8W/quotes.png" alt="quotation" class="quotation-img"
                                width="26">

                            <p class="testimonial-desc">We Put Our Trust In Tripix And They Delivered, Making Sure Our
                                Needs Were Met</p>
                        </div>
                    </div>

                    <div class="cta-container">
                        <img src="../../../assets/images/Tripix Store.webp" alt="summer collection"
                            style="filter: blur(1.5px); height: 600px; border-radius: 20px;">

                        <a href="#" class="cta-content">
                            <p class="discount">25% Discount</p>
                            <h2 class="cta-title">Come To Our Branch</h2>
                            <p class="cta-text">Starting 1000 Egp</p>

                            <button class="cta-btn">Shop Now</button>
                        </a>
                    </div>

                    <div class="service">
                        <h2 class="title">Our Services</h2>

                        <div class="service-container">
                            <a href="#" class="service-item">
                                <div class="service-icon">
                                    <i class="fa-solid fa-truck-fast"></i>
                                </div>

                                <div class="service-content">
                                    <h3 class="service-title">Fast Delivery</h3>
                                    <p class="service-desc">Tell us your address and we will come to you</p>
                                </div>
                            </a>

                            <a href="#" class="service-item">
                                <div class="service-icon">
                                    <i class="fa-solid fa-wave-square"></i>
                                </div>

                                <div class="service-content">
                                    <h3 class="service-title">Secure Trip</h3>
                                    <p class="service-desc">We try to make your trip as safe as possible.</p>
                                </div>
                            </a>

                            <a href="#" class="service-item">
                                <div class="service-icon">
                                    <i class="fa-solid fa-phone-volume"></i>
                                </div>

                                <div class="service-content">
                                    <h3 class="service-title">Best Online Support</h3>
                                    <p class="service-desc">Hours: 8AM - 11PM</p>
                                </div>
                            </a>

                            <a href="#" class="service-item">
                                <div class="service-icon">
                                    <i class="fa-solid fa-arrows-turn-to-dots"></i>
                                </div>

                                <div class="service-content">
                                    <h3 class="service-title">Return Policy</h3>
                                    <p class="service-desc">We Guarantee You An Unparalleled Return Policy.</p>
                                </div>
                            </a>

                            <a href="#" class="service-item">
                                <div class="service-icon">
                                    <i class="fa-solid fa-ticket"></i>
                                </div>

                                <div class="service-content">
                                    <h3 class="service-title"> Money Back</h3>
                                    <p class="service-desc">We Take Care Of Our Needs And You Take Care Of Your Money
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="blog">
            <div class="container">
                <h2 class="title">Our Blogs</h2>
                <div class="blog-container has-scrollbar">
                    <div class="blog-card">
                        <a href="#">
                            <img src="../../../assets/images/car decoration.jpg"
                                alt="Clothes Retail KPIs 2023 Guide for Clothes Executives" class="blog-banner"
                                width="300">
                        </a>

                        <div class="blog-content">
                            <a href="#" class="blog-category">Car Decoration</a>
                            <a href="#">
                                <h3 class="blog-title">Car decoration is a popular activity now, especially among young
                                    people </h3>
                            </a>
                        </div>
                    </div>

                    <div class="blog-card">
                        <a href="#">
                            <img src="../../../assets/images/engine.jpg"
                                alt="Curbside fashion Trends: How to Win the Pickup Battle" class="blog-banner"
                                width="300">
                        </a>

                        <div class="blog-content">
                            <a href="#" class="blog-category">Engine care</a>
                            <a href="#">
                                <h3 class="blog-title">Engine care is based on several factors, such as the type of oil,
                                    gasoline, and periodic maintenance.</h3>
                            </a>

                        </div>
                    </div>

                    <div class="blog-card">
                        <a href="#">
                            <img src="../../../assets/images/carrepair.jpg"
                                alt="EBT vendors: Claim Your Share of SNAP Online Revenue" class="blog-banner"
                                width="300">
                        </a>

                        <div class="blog-content">
                            <a href="#" class="blog-category">Periodic maintenance</a>
                            <a href="#">
                                <h3 class="blog-title">One of the most important habits used currently to ensure that
                                    the breakdown is not sudden</h3>
                            </a>

                        </div>
                    </div>

                    <div class="blog-card">
                        <a href="#">
                            <img src="../../../assets/images/tires.jpg"
                                alt="Curbside fashion Trends: How to Win the Pickup Battle" class="blog-banner"
                                width="300">
                        </a>

                        <div class="blog-content">
                            <a href="#" class="blog-category">Tires Care</a>
                            <a href="#">
                                <h3 class="blog-title">The tires are the most important part of the car. The tire
                                    numbers determine the maximum speed.</h3>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-category">
            <div class="container">
                <h2 class="footer-category-title">Spare Parts Sections</h2>

                <div class="footer-category-box">
                    <h3 class="category-box-title">Cars :</h3>

                    <a href="#" class="footer-category-link">Sedan</a>
                    <a href="#" class="footer-category-link">Hatchback</a>
                    <a href="#" class="footer-category-link">Coupe</a>
                    <a href="#" class="footer-category-link">SUV</a>
                </div>

                <div class="footer-category-box">
                    <h3 class="category-box-title">Motorbikes :</h3>

                    <a href="#" class="footer-category-link">Standard</a>
                    <a href="#" class="footer-category-link">Cruiser</a>
                    <a href="#" class="footer-category-link">Off-Road</a>
                </div>



                <div class="footer-category-box">
                    <h3 class="category-box-title">Electric Cars :</h3>

                    <a href="#" class="footer-category-link">Sedan</a>
                    <a href="#" class="footer-category-link">SUV</a>
                    <a href="#" class="footer-category-link">Coupe</a>
                    <a href="#" class="footer-category-link">Hatchback</a>
                </div>
            </div>
        </div>

        <div class="footer-nav">
            <div class="container">
                <ul class="footer-nav-list">
                    <li class="footer-nav-item">
                        <h2 class="nav-title">Popular Buy & Sell</h2>
                    </li>

                    <li class="footer-nav-item"><a href="#" class="footer-nav-link">Cars</a></li>

                    <li class="footer-nav-item"><a href="#" class="footer-nav-link">Motorbikes</a></li>
                    <li class="footer-nav-item"><a href="#" class="footer-nav-link">electric Cars</a></li>
                </ul>

                <ul class="footer-nav-list">
                    <li class="footer-nav-item">
                        <h2 class="nav-title">Cars</h2>
                    </li>

                    <li class="footer-nav-item"><a href="#" class="footer-nav-link">Sedan</a></li>
                    <li class="footer-nav-item"><a href="#" class="footer-nav-link">Coupe</a></li>
                    <li class="footer-nav-item"><a href="#" class="footer-nav-link">SUV</a></li>
                    <li class="footer-nav-item"><a href="#" class="footer-nav-link">Hatchback</a></li>
                </ul>


                <ul class="footer-nav-list">
                    <li class="footer-nav-item">
                        <h2 class="nav-title">Services</h2>
                    </li>

                    <li class="footer-nav-item"><a href="#" class="footer-nav-link">Car Washing</a></li>
                    <li class="footer-nav-item"><a href="#" class="footer-nav-link">Car Decoration</a></li>
                    <li class="footer-nav-item"><a href="#" class="footer-nav-link">Helpoo</a></li>
                    <li class="footer-nav-item"><a href="#" class="footer-nav-link">Maintenance</a></li>
                    <li class="footer-nav-item"><a href="#" class="footer-nav-link">Car Rental</a></li>
                </ul>

                <ul class="footer-nav-list">
                    <li class="footer-nav-item">
                        <h2 class="nav-title">Contact</h2>
                    </li>


                    <li class="footer-nav-item flex" (click)="openMapModal()">
                        <div class="icon-box">
                            <i class="fa-solid fa-location-dot"></i>
                        </div>

                        <address class="content">
                            44 Zamalek Club Wall
                            Mohandsen , Giza
                            Near To Costa Coffee
                        </address>
                    </li>


                    <li class="footer-nav-item flex">
                        <div class="icon-box">
                            <i class="fa-solid fa-headset"></i>
                        </div>

                        <a href="tel:+607936-8058" class="footer-nav-link">(20) 127-0074-186</a>
                    </li>

                    <li class="footer-nav-item flex">
                        <div class="icon-box">
                            <i class="fa-solid fa-envelope"></i>
                        </div>

                        <a href="mailto:example@gmail.com" class="footer-nav-link">tripixv911&#64;gmail.com</a>
                    </li>
                </ul>

                <ul class="footer-nav-list">
                    <li class="footer-nav-item">
                        <h2 class="nav-title">Follow Us</h2>
                    </li>

                    <li>
                        <ul class="social-link">
                            <li class="footer-nav-item">
                                <a href="#" class="footer-nav-link"><ion-icon name="logo-facebook"></ion-icon></a>
                            </li>

                            <li class="footer-nav-item">
                                <a href="#" class="footer-nav-link"><ion-icon name="logo-twitter"></ion-icon></a>
                            </li>

                            <li class="footer-nav-item">
                                <a href="#" class="footer-nav-link"><ion-icon name="logo-linkedin"></ion-icon></a>
                            </li>

                            <li class="footer-nav-item">
                                <a href="#" class="footer-nav-link"><ion-icon name="logo-instagram"></ion-icon></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <img src="https://i.postimg.cc/43GKnVFF/payment.png" alt="payment method" class="payment-img">
                <p class="copyright">Copyright &copy; <a href="#">Tripix</a> all rights reserved</p>
            </div>
        </div>
    </footer>

    <!-- زر لفتح النافذة -->

    <div class="modal-overlay" *ngIf="isMapOpen">
        <!-- النافذة المنبثقة -->
        <div class="map-modal" *ngIf="isMapOpen">
            <div class="map-container">
                <span class="close-btn" (click)="closeMapModal()">&#10006;</span>
                <div id="map"></div>
            </div>
        </div>
    </div>

    <!-- Overlay لإضافة تأثير الـ Blur -->
    <div class="overlay" *ngIf="isMapOpen"></div>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>

</html>

<app-prombet></app-prombet>