<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">


</head>

<body id="top" data-page="home">
    <header [class.active]="isHeaderSticky" data-header>
        <div class="overlay " data-overlay [class.active]="isOverlayActive"></div>

        <div class="container">
            <a href="#" class="logo"><img src="../../../assets/images/tripix logo.png" width="170px"
                    alt="SCEO Logo"></a>
            <nav class="navbar" data-navbar>
                <ul class="navbar-list">
                    <li class="navbar-item"><a routerLink="/Home" class="navbar-link">Home</a></li>
                    <li class="navbar-item"><a routerLink="/Services" class="navbar-link">Service</a></li>
                    <li class="navbar-item"><a routerLink="/About" class="navbar-link">About</a></li>
                    <li class="navbar-item"><a routerLink="/FAQs" class="navbar-link">FAQ's</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <article>
            <section class="hero" id="hero">
                <div class="container">
                    <div class="hero-content">
                        <h1 class="h1 hero-title">Enroll Now In Our Event by Your Name And Your Email </h1>


                        <form [formGroup]="heroForm" (ngSubmit)="onSubmit()" class="hero-form">

                            <div class="input-group">
                                <input type="text" formControlName="name" class="input-field"
                                    placeholder="Enter your name" />
                                <div *ngIf="name?.invalid && name?.touched" class="error">
                                    <span *ngIf="name?.errors?.['required']">Name is required</span>
                                    <span *ngIf="name?.errors?.['minlength']">Name must be at least 3 characters</span>
                                </div>
                            </div>

                            <div class="input-group">
                                <input type="email" formControlName="email" class="input-field"
                                    placeholder="Enter your email" />
                                <div *ngIf="email?.invalid && email?.touched" class="error">
                                    <span *ngIf="email?.errors?.['required']">Email is required</span>
                                    <span *ngIf="email?.errors?.['email']">Invalid email format</span>
                                </div>
                            </div>

                            <div class="input-group">
                                <input type="text" formControlName="phone" class="input-field"
                                    placeholder="Enter your phone number" />
                                <div *ngIf="phone?.invalid && phone?.touched" class="error">
                                    <span *ngIf="phone?.errors?.['required']">Phone is required</span>
                                    <span *ngIf="phone?.errors?.['pattern']">Phone must be at least 10 digits</span>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary" [disabled]="heroForm.invalid">Get Your Ticket
                                Now</button>

                        </form>



                        <span class="gradient-text">See you there!</span>

                        <p class="hero-text">
                            <span>Don’t miss it!</span>
                            <span>Timeless beauty</span>
                            <span>Speed thrills!</span>
                        </p>
                    </div>


                    <img src="../../../assets/images/mate-vanyek-BfnQ-Wba7Vo-unsplash.jpg" alt="SEO Illustration"
                        class="hero-banner fancy-image">

                </div>
            </section>


            <section class="service" id="service">
                <div class="container">
                    <h2 class="h2 section-title">Why Tripix ?</h2>

                    <p class="section-text">We are interested in some details that interest you as a user of our
                        platform and we try to care about your opinion of us and our service.</p>

                    <ul class="service-list">
                        <li>
                            <div class="service-card">
                                <div class="card-icon"><ion-icon name="location-outline"></ion-icon></div>


                                <h3 class="h4 card-title">Best Place</h3>
                                <p class="card-text">We always choose a place that is suitable for everyone and is
                                    lively.</p>
                            </div>
                        </li>

                        <li>
                            <div class="service-card">
                                <div class="card-icon"><ion-icon name="alarm-outline"></ion-icon></div>

                                <h3 class="h4 card-title">Best Time</h3>

                                <p class="card-text">We always choose a time that is suitable for everyone and is
                                    special through Vote on our accounts.</p>
                            </div>
                        </li>

                        <li>
                            <div class="service-card">
                                <div class="card-icon"><ion-icon name="cafe-outline"></ion-icon></div>

                                <h3 class="h4 card-title">Service Available</h3>

                                <p class="card-text">We always provide you with a service, whether for your car or for
                                    you.</p>
                            </div>
                        </li>

                        <li>
                            <div class="service-card">
                                <div class="card-icon"><ion-icon name="finger-print-outline"></ion-icon></div>

                                <h3 class="h4 card-title">Your data is safe</h3>

                                <p class="card-text">Once you register your data with us, it will be encrypted and
                                    saved.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>

            <section class="pricing" id="pricing">
                <div class="container">
                    <div class="pricing-content">
                        <p class="section-subtitle">Nearby Hotels</p>

                        <h2 class="h3 section-title">Hotel Name</h2>

                        <div class="stars-container">
                            <ion-icon name="star" class="star"></ion-icon>
                            <ion-icon name="star" class="star"></ion-icon>
                            <ion-icon name="star" class="star"></ion-icon>
                            <ion-icon name="star" class="star"></ion-icon>
                            <ion-icon name="star" class="star"></ion-icon>
                        </div>

                        <p class="section-text">We understand each client's unique needs, challenges, and aspirations by
                            crafting a strategy that sparks innovation and delivers exceptional results</p>

                        <button class="btn btn-primary">Pricing & Packages</button>
                    </div>

                    <figure class="pricing-banner">
                        <img src="../../../assets/images/Pala Band breaks ground on $170 million expansion and renovation project at casino.jpg"
                            alt="Pricing Illustration">
                    </figure>
                </div>
            </section>
        </article>
    </main>

    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="footer-brand">
                    <a href="#" class="footer-logo"><img
                            src="../../../assets/images/Black White Yellow Simple Initial Name Logo.png" alt="SCEO Logo"
                            width="150px"></a>

                    <p class="section-text">known for providing innovative solutions to enhance online visibility and
                        improve search engine rankings for businesses</p>
                </div>

                <div class="footer-link-box">
                    <ul class="footer-list">
                        <li>
                            <p class="h4">Company</p>
                        </li>

                        <li><a href="#" class="footer-link">About us</a></li>
                        <li><a href="#" class="footer-link">Careers</a></li>
                        <li><a href="#" class="footer-link">Press & Media</a></li>
                        <li><a href="#" class="footer-link">Contact us</a></li>
                    </ul>

                    <ul class="footer-list">
                        <li>
                            <p class="h4">Discover</p>
                        </li>

                        <li><a href="#" class="footer-link">Our blog</a></li>
                        <li><a href="#" class="footer-link">Advertising</a></li>
                        <li><a href="#" class="footer-link">Plans & Pricing</a></li>
                        <li><a href="#" class="footer-link">Testimonials</a></li>
                    </ul>

                    <ul class="footer-list">
                        <li>
                            <p class="h4">Legal</p>
                        </li>

                        <li><a href="#" class="footer-link">Terms of use</a></li>
                        <li><a href="#" class="footer-link">Privacy Policy</a></li>
                        <li><a href="#" class="footer-link">Cookie Policy</a></li>
                        <li><a href="#" class="footer-link">Site map</a></li>
                    </ul>

                    <ul class="footer-list">
                        <li>
                            <p class="h4">Support</p>
                        </li>

                        <li><a href="#" class="footer-link">FAQs</a></li>
                        <li><a href="#" class="footer-link">Editor Help</a></li>
                        <li><a href="#" class="footer-link">Community</a></li>
                        <li><a href="#" class="footer-link">Live Chatting</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <hr class="divider">

        <div class="footer-bottom">
            <div class="container">
                <p class="copyright">&copy; 2025 <a href="#">Tripix</a>. All rights reserved</p>

                <ul class="social-list">
                    <li><a href="#" class="social-link"><ion-icon name="logo-facebook"></ion-icon></a></li>
                    <li><a href="#" class="social-link"><ion-icon name="logo-instagram"></ion-icon></a></li>
                    <li><a href="#" class="social-link"><ion-icon name="logo-whatsapp"></ion-icon></a></li>
                    <li><a href="#" class="social-link"><ion-icon name="logo-linkedin"></ion-icon></a></li>
                    <li><a href="#" class="social-link"><ion-icon name="logo-tiktok"></ion-icon></a></li>
                    <li><a href="#" class="social-link"><ion-icon name="logo-facebook"></ion-icon></a></li>
                </ul>
            </div>
        </div>
    </footer>

    <a class="go-top-btn active" *ngIf="isGoTopVisible" (click)="scrollToTop()"><ion-icon
            name="arrow-up-outline"></ion-icon></a>


    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>