<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modern ECommerce Webpage</title>
    <link rel="stylesheet" href="style.css">

    <link rel="shortcut icon" href="https://i.postimg.cc/R07Wy2gJ/favicon.png" type="image/x-icon">
</head>

<body style="background-image: url(../../../assets/images/v1016-b-09.jpg);">
    <!-- <div class="overlay " data-overlay></div>

    <div class="modal" data-modal>
        <div class="modal-close-overlay" data-modal-overlay></div>

        <div class="modal-content">
            <button class="modal-close-btn" data-modal-close>
                <ion-icon name="close-outline"></ion-icon>
            </button>

            <div class="newsletter-img">
                <img src="../../../assets/images/Picsart_25-01-29_01-51-17-273.jpg" alt="image" width="400" height="400">
            </div>

            <div class="newsletter">
                <form action="#">
                    <div class="newsletter-header">
                        <h3 class="newsletter-title"><span style="color:brown">Tripix</span> Car Event</h3>

                        <p class="newsletter-desc">Subscribe Now To The <b>Tripix</b> To Get Your Ticket And Discount Updates</p>
                    </div>

                    <input type="email" name="email" class="email-field" placeholder="Email Address" required>

                    <button type="submit" class="btn-newsletter">Subscribe</button>
                </form>
            </div>
        </div>
    </div>   -->

    <div class="notification-toast" data-toast *ngIf="toastpoen">
        <button class="toast-close-btn" data-toast-close (click)="closetoast()">
            <ion-icon name="close-outline"></ion-icon>
        </button>

        <div class="toast-banner">
            <img src="https://i.postimg.cc/6qd3mpCv/jewellery-1.jpg" alt="Ocean Golden Tear Earrings" width="80"
                height="70">
        </div>

        <div class="toast-detail">
            <p class="toast-message">Someone just bought this item</p>
            <p class="toast-title">Ocean Golden Drop Earrings</p>
        </div>
    </div>

    <header>
        <div class="header-top">
            <div class="container">
                <ul class="header-social-container">
                    <li><a href="#" class="social-link"><ion-icon name="logo-facebook"></ion-icon></a></li>
                    <li><a href="#" class="social-link"><ion-icon name="logo-twitter"></ion-icon></a></li>
                    <li><a href="#" class="social-link"><ion-icon name="logo-instagram"></ion-icon></a></li>
                    <li><a href="#" class="social-link"><ion-icon name="logo-linkedin"></ion-icon></a></li>
                    <li><a href="#" class="social-link"><ion-icon name="logo-tiktok"></ion-icon></a></li>
                </ul>

                <div class="header-alert-news">
                    <p><b style="font-size: 19px;">Hi Amr , </b><span class="Gradiant">We Are Happy To Have You
                            Here</span></p>
                </div>

                <div class="header-top-actions">
                    <select name="language">
                        <option value="en-US">English</option>
                        <option value="es-ES">Arabic</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="header-main">
            <div class="container">
                <a href="#" class="header-logo">
                    <h1 class="wave-text">Tripix</h1>
                </a>

                <div class="header-search-container">
                    <input type="search" name="search" class="search-field" placeholder="Enter Model , Car Name">

                    <button class="search-btn"><ion-icon name="search-outline"></ion-icon></button>
                </div>

                <div class="header-user-actions">
                    <button class="action-btn" routerLink="/Sign In"><i class="fa-regular fa-user"></i>
                        <span style="font-size: 25px;">Sign In</span></button>

                    <button class="action-btn">
                        <ion-icon name="heart-outline"></ion-icon>
                        <span class="count">0</span>
                    </button>
                </div>

            </div>
        </div>

        <nav class="desktop-navigation-menu">
                <div class="container" style="padding-bottom: 7px; padding-top: 5px;">
                        <ul class="desktop-menu-category-list">

                                <li class="menu-category">
                                        <a routerLink="/Home" class="menu-title">Home</a>
                                </li>

                                <li class="menu-category">
                                        <a  class="menu-title">Buy New Vehicles</a>

                                        <div class="dropdown-panel">
                                                <ul class="dropdown-panel-list">
                                                        <li class="menu-title"><a routerLink="/OurCars">Cars</a></li>
                                                        <li class="panel-list-item"><a routerLink="/OurCars" [queryParams]="{ type: 'Sedan' }">SEDAN</a></li>
                                                        <li class="panel-list-item"><a routerLink="/OurCars" [queryParams]="{ type: 'Coupe' }">COUPE</a></li>
                                                        <li class="panel-list-item"><a routerLink="/OurCars" [queryParams]="{ type: 'Hatchback' }">HATCHBACK</a></li>
                                                        <li class="panel-list-item"><a routerLink="/OurCars" [queryParams]="{ type: 'SUV' }">SPORT-UTILITY VEHICLE (SUV)</a></li>
                                                        <li class="panel-list-item">
                                                                <img src="../../../assets/images/campbell-3ZUsNJhi_Ik-unsplash.jpg" alt="image"
                                                                          class="product-image">
                                                        </li>
                                                </ul>

                                                <ul class="dropdown-panel-list">
                                                        <li class="menu-title"><a routerLink="/OurMotorbikes">Motorcycles</a></li>
                                                        <li class="panel-list-item"><a routerLink="/OurMotorbikes" [queryParams]="{ type: 'Standard' }">Standard</a></li>
                                                        <li class="panel-list-item"><a routerLink="/OurMotorbikes" [queryParams]="{ type: 'Cruiser' }">Cruiser</a></li>
                                                        <li class="panel-list-item"><a routerLink="/OurMotorbikes" [queryParams]="{ type: 'Sport' }">Sport</a></li>
                                                        <li class="panel-list-item"><a routerLink="/OurMotorbikes" [queryParams]="{ type: 'Off-road' }">Off-road</a></li>
                                                        <li class="panel-list-item">
                                                                <img src="../../../assets/images/lucas-t-wb6dyvkqpyo-unsplash.jpg" alt="image"
                                                                        width="100" height="100" class="product-image">
                                                        </li>
                                                </ul>

                    
                                                <ul class="dropdown-panel-list">
                                                        <li class="menu-title"><a routerLink="/OurElectricCars">Electric Cars</a></li>
                                                        <li class="panel-list-item"><a routerLink="/OurElectricCars" [queryParams]="{ type: 'Sedan' }">SEDAN</a></li>
                                                        <li class="panel-list-item"><a routerLink="/OurElectricCars" [queryParams]="{ type: 'Coupe' }">COUPE</a></li>
                                                        <li class="panel-list-item"><a routerLink="/OurElectricCars" [queryParams]="{ type: 'Hatchback' }">HATCHBACK</a></li>
                                                        <li class="panel-list-item"><a routerLink="/OurElectricCars" [queryParams]="{ type: 'SUV' }">SPORT-UTILITY VEHICLE (SUV)</a></li>
                                                        <li class="panel-list-item">
                                                                <img src="../../../assets/images/michal-lauko-h7J4MLTXDsg-unsplash.jpg" alt="image"
                                                                        width="100" height="100" class="product-image">
                                                        </li>
                                                </ul>
                                        </div>
                                </li>

                                <li class="menu-category">
                                        <a href="#" class="menu-title">BUY USED VEHICLES</a>

                                        <ul class="dropdown-list">
                                                <li class="dropdown-item"><a routerLink="/OurCars" [queryParams]="{ type: 'Used' }">Cars</a></li>
                                                <li class="dropdown-item"><a routerLink="/OurElectricCars" [queryParams]="{ type: 'Used' }">Electric Cars</a></li>
                                                <li class="dropdown-item"><a routerLink="/OurMotorbikes" [queryParams]="{ type: 'Used' }">Motor Bikes</a></li>
                    
                                        </ul>
                                </li>


                                <li class="menu-category">
                                        <a href="#" class="menu-title" routerLink="/Services">Services</a>

                                        <ul class="dropdown-list">
                                                <li class="dropdown-item"><a routerLink="/CarWash">Car Washing</a></li>
                                                <li class="dropdown-item"><a routerLink="/CarRepair">Car Repair</a></li>
                                                <li class="dropdown-item"><a routerLink="/Helpoo">Helpoo</a></li>
                                        </ul>
                                </li>

                                <li class="menu-category">
                                        <a  class="menu-title" routerLink="/CarRental">Car Rental</a>
                                </li>

                                <li class="menu-category">
                                        <a  class="menu-title">Spare Parts</a>

                                        <ul class="dropdown-list">
                                                <li class="dropdown-item"><a routerLink="/SpareParts" [queryParams]="{ type: 'Cars' }">Cars</a></li>
                                                <li class="dropdown-item"><a routerLink="/SpareParts" [queryParams]="{ type: 'ElectricCars' }">Electric Cars</a></li>
                                                <li class="dropdown-item"><a routerLink="/SpareParts" [queryParams]="{ type: 'Motorbikes' }">Motorbikes</a></li>
                                        </ul>
                                </li>

                                <li class="menu-category">
                                        <a routerLink="/Events" class="menu-title">Events</a>
                                </li>

                                <li class="menu-category">
                                        <a routerLink="/Blogs" class="menu-title">Blogs</a>
                                </li>

                                <li class="menu-category">
                                        <a routerLink="/About" class="menu-title">About</a>
                                </li>




                                <li class="menu-category">
                                        <button class="gradient-button" (click)="SellCar()">Sell My Car</button>
                                </li>
                        </ul>
                </div>
        </nav>

        <div class="mobile-bottom-navigation">
            <button class="action-btn" data-mobile-menu-open-btn>
                <ion-icon name="menu-outline"></ion-icon>
            </button>

            <button class="action-btn">
                <ion-icon name="home-outline"></ion-icon>
            </button>

            <button class="action-btn">
                <ion-icon name="heart-outline"></ion-icon>
                <span class="count">0</span>
            </button>

            <button class="action-btn" data-mobile-menu-open-btn>
                <ion-icon name="grid-outline"></ion-icon>
            </button>
        </div>

        <nav class="mobile-navigation-menu has-scrollbar " data-mobile-menu>
            <div class="menu-top">
                <h2 class="menu-title">Menu</h2>

                <button class="menu-close-btn" data-mobile-menu-close-btn>
                    <ion-icon name="close-outline"></ion-icon>
                </button>
            </div>

            <ul class="mobile-menu-category-list">
                <li class="menu-category"><a href="#" class="menu-title">Home</a></li>

                <li class="menu-category">
                    <button class="accordion-menu" data-accordion-btn>
                        <p class="menu-title">Categories</p>

                        <div>
                            <ion-icon name="add-outline" class="add-icon"></ion-icon>
                            <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                        </div>
                    </button>

                    <ul class="submenu-category-list " data-accordion>
                        <li class="submenu-category"><a href="#" class="submenu-title">Cars</a></li>
                        <li class="submenu-category"><a href="#" class="submenu-title">Motorbikes</a></li>
                        <li class="submenu-category"><a href="#" class="submenu-title">Trucks</a></li>
                        <li class="submenu-category"><a href="#" class="submenu-title">Electric Cars</a></li>
                    </ul>
                </li>

                <li class="menu-category">
                    <button class="accordion-menu" data-accordion-btn>
                        <p class="menu-title">Services</p>

                        <div>
                            <ion-icon name="add-outline" class="add-icon"></ion-icon>
                            <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                        </div>
                    </button>

                    <ul class="submenu-category-list" data-accordion>
                        <li class="submenu-category"><a href="#" class="submenu-title">car Washing</a></li>
                        <li class="submenu-category"><a href="#" class="submenu-title">Maintenance</a></li>
                        <li class="submenu-category"><a href="#" class="submenu-title">Car Decoration</a></li>
                        <li class="submenu-category"><a href="#" class="submenu-title">Car Rental</a></li>
                        <li class="submenu-category"><a href="#" class="submenu-title">Helpoo</a></li>
                    </ul>
                </li>

                <li class="menu-category">
                    <button class="accordion-menu" data-accordion-btn>
                        <p class="menu-title">Gallery</p>

                        <div>
                            <ion-icon name="add-outline" class="add-icon"></ion-icon>
                            <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                        </div>
                    </button>

                    <ul class="submenu-category-list" data-accordion>
                        <li class="submenu-category"><a href="#" class="submenu-title">Cars</a></li>
                        <li class="submenu-category"><a href="#" class="submenu-title">Motorbikes</a></li>
                        <li class="submenu-category"><a href="#" class="submenu-title">Trucks</a></li>
                    </ul>
                </li>

                <li class="menu-category">
                    <button class="accordion-menu" data-accordion-btn>
                        <p class="menu-title">Car Evaluation</p>

                        <div>
                            <ion-icon name="add-outline" class="add-icon"></ion-icon>
                            <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                        </div>
                    </button>

                    <ul class="submenu-category-list" data-accordion>
                        <li class="submenu-category"><a href="#" class="submenu-title">Cars</a></li>
                        <li class="submenu-category"><a href="#" class="submenu-title">Motorbikes</a></li>
                        <li class="submenu-category"><a href="#" class="submenu-title">Trucks</a></li>
                    </ul>
                </li>

                <li class="menu-category"><a href="#" class="menu-title">Blog</a></li>

                <li class="menu-category"><a href="#" class="menu-title">About</a></li>
                <li class="menu-category"><a href="#" class="menu-title">Hot Offers</a></li>
            </ul>

            <div class="menu-bottom">
                <ul class="menu-category-list">
                    <li class="menu-category">
                        <button class="accordion-menu " data-accordion-btn>
                            <p class="menu-title">Language</p>
                            <ion-icon name="caret-back-outline" class="caret-back"></ion-icon>
                        </button>

                        <ul class="submenu-category-list " data-accordion>
                            <li class="submenu-category"><a href="#" class="submenu-title">English</a></li>
                            <li class="submenu-category"><a href="#" class="submenu-title">Arabic</a></li>
                        </ul>
                    </li>

                    <li class="menu-category">
                        <button class="accordion-menu" data-accordion-btn>
                            <p class="menu-title">Currency</p>
                            <ion-icon name="caret-back-outline" class="caret-back"></ion-icon>
                        </button>

                        <ul class="submenu-category-list" data-accordion>
                            <li class="submenu-category"><a href="#" class="submenu-title">USD &dollar;</a></li>
                            <li class="submenu-category"><a href="#" class="submenu-title">Egp</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="menu-social-container">
                    <li><a href="#" class="social-link"><ion-icon name="logo-facebook"></ion-icon></a></li>
                    <li><a href="#" class="social-link"><ion-icon name="logo-twitter"></ion-icon></a></li>
                    <li><a href="#" class="social-link"><ion-icon name="logo-instagram"></ion-icon></a></li>
                    <li><a href="#" class="social-link"><ion-icon name="logo-linkedin"></ion-icon></a></li>
                    <li><a href="#" class="social-link"><ion-icon name="logo-tiktok"></ion-icon></a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main style="margin-top: 40px;">
        <div class="product-container">
            <div class="container">
                <div class="sidebar has-scrollbar " data-mobile-menu>
                    <div class="price-range">
                        <label>Price</label>
                        <div class="slider-container2">
                            <input type="range" class="slider2" min="50000" max="10000000" step="1000"
                                [(ngModel)]="minPrice" (input)="updateTrack()">
                            <input type="range" class="slider2" min="50000" max="10000000" step="1000"
                                [(ngModel)]="maxPrice" (input)="updateTrack()">
                            <div class="slider-track"></div>
                        </div>
                        <div class="price-values">
                            <div class="price-container">
                                <span class="price min-price" [class.animate]="priceChanging">{{ animatedMinPrice | number }}</span>
                                <div class="buttons">
                                    <button class="increase" (click)="increasePrice('min')"><i class="fa-solid fa-arrow-turn-up"></i></button>
                                    <button class="decrease" (click)="decreasePrice('min')"><i class="fa-solid fa-arrow-turn-down"></i></button>
                                </div>
                            </div>
                        
                            <span class="separator">-</span>
                        
                            <div class="price-container">
                                <span class="price max-price" [class.animate]="priceChanging">{{ animatedMaxPrice | number }}</span>
                                <div class="buttons">
                                    <button class="increase" (click)="increasePrice('max')"><i class="fa-solid fa-arrow-turn-up"></i></button>
                                    <button class="decrease" (click)="decreasePrice('max')"><i class="fa-solid fa-arrow-turn-down"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>  

                    <div class="fuel-type">
                        <label>Body Type :</label>
                        <div class="fuel-options">
                          <div class="fuel-item-container" *ngFor="let type of bodyTypes">
                            <div class="fuel-item"
                                 [ngClass]="{'selected': selectedbodyTypes[type]}"
                                 (click)="toggleFuelSelection(type)">
                              {{ type }}
                            </div>
                          </div>
                        </div>
                      </div>
                    <div class="brands-list">
                        <label>Brand</label>
                        
                        <!-- إضافة input للبحث في الماركات -->
                        <input type="text" class="search-box" [(ngModel)]="searchQuery"
                        (input)="filterBrands()" 
                            placeholder="Search For Brand">
                
                        <!-- قائمة الماركات مع التمرير -->
                        <div class="brand-list-scroll">
                            <div *ngFor="let brand of filteredBrands ">
                                <div class="brand-item" [class]="brand.animationClass"
                                    (click)="toggleBrandOptions(brand)">
                                    {{ brand.brandName }}
                                    <span *ngIf="brand.models.length" class="arrow"
                                        [class.rotated]="brand.expanded">></span>
                                </div>
                                <div [class.active]="brand.expanded" class="brand-options">
                                    <label *ngFor="let option of brand.models">
                                        <input type="checkbox"> {{ option }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <button class="results-btn">Show Result</button>
                </div>
                

                <div class="product-box">
                    <div class="product-minimal">
                        <div class="product-showcase">
                            <h2 class="title">New Arrivals</h2>

                            <div class="showcase-wrapper has-scrollbar">
                                <div class="showcase-container">
                                    <div class="showcase">
                                        <a href="#" class="showcase-img-box">
                                            <img src="../../../assets/images/car.webp"
                                                alt="relaxed short full sleeve t-shirt" class="showcase-img" width="120">
                                        </a>

                                        <div class="showcase-content">
                                            <a href="#">
                                                <h4 class="showcase-title">Rang Rover</h4>
                                            </a>
                                            

                                            <div class="price-box">
                                                <p class="price">$45.00</p>
                                                <del>$12.00</del>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="showcase-container">
                                </div>
                            </div>
                        </div>

                        <div class="product-showcase">
                            <h2 class="title">Trending</h2>

                            <div class="showcase-wrapper has-scrollbar">
                                <div class="showcase-container">
                                    <div class="showcase">
                                        <a href="#" class="showcase-img-box">
                                            <img src="../../../assets/images/car2.webp"
                                                alt="running & trekking shoes - white" class="showcase-img" width="120">
                                        </a>

                                        <div class="showcase-content">
                                            <a href="#">
                                                <h4 class="showcase-title">Toyota</h4>
                                            </a>
                                            

                                            <div class="price-box">
                                                <p class="price">$49.00</p>
                                                <del>$15.00</del>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="showcase-container">
                                </div>
                            </div>
                        </div>

                        <div class="product-showcase">
                            <h2 class="title">Top Rated</h2>

                            <div class="showcase-wrapper has-scrollbar">
                                <div class="showcase-container">
                                    <div class="showcase">
                                        <a href="#" class="showcase-img-box">
                                            <img src="../../../assets/images/car3.webp" alt="pocket watch leather pouch"
                                                class="showcase-img" width="120">
                                        </a>

                                        <div class="showcase-content">
                                            <a href="#">
                                                <h4 class="showcase-title">Pocket Watch Leather Pouch</h4>
                                            </a>
                                            

                                            <div class="price-box">
                                                <p class="price">$50.00</p>
                                                <del>$34.00</del>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="showcase-container">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="product-main">
                        <h2 class="title">Our Cars</h2>

                        <div class="product-grid">

                            <ng-container *ngFor="let car of OurCars">
                                <div class="container-loading" *ngIf="ProductsLoading">
                                    <div class="showcase-content loading-skeleton">
                                        <div class="skeleton skeleton-image shimmer"></div>
                                        <div class="skeleton skeleton-category shimmer"></div>
                                        <div class="skeleton skeleton-title shimmer"></div>
                                        <div class="skeleton skeleton-rating shimmer"></div>
                                        <div class="skeleton skeleton-price shimmer"></div>
                                    </div>
                                </div>
                            </ng-container>

                            <ng-container *ngFor="let car of OurCars">
                                <div class="showcase fade-in" *ngIf="!ProductsLoading">
                                    <div class="showcase-banner">
                                        <img [src]="'https://localhost:7012/'+car.imagesUrls[0]"
                                            alt="Mens Winter Leathers Jackets" class="product-img default" width="300">
                                        <img [src]="'https://localhost:7012/'+car.imagesUrls[1]"
                                            alt="Mens Winter Leathers Jackets" class="product-img hover" width="300">

                                        <p class="showcase-badge">{{car.discount}}</p>

                                        <div class="showcase-actions">
                                            <button class="btn-action" (click)="toggleLike()"><i
                                                    class="fa-solid fa-heart"
                                                    [ngClass]="isLiked ? 'fa-heart' : 'fa-heart-o'"></i></button>
                                            <button class="btn-action"><i class="fa-solid fa-eye"></i></button>
                                            <button class="btn-action"><i
                                                    class="fa-solid fa-cash-register"></i></button>
                                            <button class="btn-action"><i class="fa-solid fa-share"></i></button>
                                        </div>
                                    </div>



                                    <div class="showcase-content">
                                        <a href="#" class="showcase-category">{{car.name}}</a>
                                        <a href="#">
                                            <h3 class="showcase-title">Electric Car</h3>
                                        </a>

                                        <div class="showcase-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </div>
                                        <div class="price-box">
                                            <p class="price">{{ car.price | currency:'EGP':'symbol'}}</p>
                                            <del *ngIf="car.discount">{{car.price - car.price * (car.discount / 100)}}</del>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination-container">
                <button 
                  *ngFor="let page of totalPagesArray; let i = index" 
                  class="pagination-btn" 
                  [class.active]="currentPage === (i + 1)"
                  (click)="goToPage(i + 1)">
                  {{ i + 1 }}
                </button>
              </div>                      
        </div>
    </main>

    <footer>
        <div class="footer-category">
            <div class="container">
                <h2 class="footer-category-title">Spare Parts Sections</h2>

                <div class="footer-category-box">
                    <h3 class="category-box-title">Cars :</h3>

                    <a href="#" class="footer-category-link">Sedan</a>
                    <a href="#" class="footer-category-link">Hatchback</a>
                    <a href="#" class="footer-category-link">Coupe</a>
                    <a href="#" class="footer-category-link">SUV</a>
                </div>

                <div class="footer-category-box">
                    <h3 class="category-box-title">Motorbikes :</h3>

                    <a href="#" class="footer-category-link">Standard</a>
                    <a href="#" class="footer-category-link">Cruiser</a>
                    <a href="#" class="footer-category-link">Off-Road</a>
                </div>



                <div class="footer-category-box">
                    <h3 class="category-box-title">Electric Cars :</h3>

                    <a href="#" class="footer-category-link">Sedan</a>
                    <a href="#" class="footer-category-link">SUV</a>
                    <a href="#" class="footer-category-link">Coupe</a>
                    <a href="#" class="footer-category-link">Hatchback</a>
                </div>
            </div>
        </div>

        <div class="footer-nav">
            <div class="container">
                <ul class="footer-nav-list">
                    <li class="footer-nav-item">
                        <h2 class="nav-title">Popular Buy & Sell</h2>
                    </li>

                    <li class="footer-nav-item"><a href="#" class="footer-nav-link">Cars</a></li>

                    <li class="footer-nav-item"><a href="#" class="footer-nav-link">Motorbikes</a></li>
                    <li class="footer-nav-item"><a href="#" class="footer-nav-link">electric Cars</a></li>
                </ul>

                <ul class="footer-nav-list">
                    <li class="footer-nav-item">
                        <h2 class="nav-title">Cars</h2>
                    </li>

                    <li class="footer-nav-item"><a href="#" class="footer-nav-link">Sedan</a></li>
                    <li class="footer-nav-item"><a href="#" class="footer-nav-link">Coupe</a></li>
                    <li class="footer-nav-item"><a href="#" class="footer-nav-link">SUV</a></li>
                    <li class="footer-nav-item"><a href="#" class="footer-nav-link">Hatchback</a></li>
                </ul>


                <ul class="footer-nav-list">
                    <li class="footer-nav-item">
                        <h2 class="nav-title">Services</h2>
                    </li>

                    <li class="footer-nav-item"><a href="#" class="footer-nav-link">Car Washing</a></li>
                    <li class="footer-nav-item"><a href="#" class="footer-nav-link">Car Decoration</a></li>
                    <li class="footer-nav-item"><a href="#" class="footer-nav-link">Helpoo</a></li>
                    <li class="footer-nav-item"><a href="#" class="footer-nav-link">Maintenance</a></li>
                    <li class="footer-nav-item"><a href="#" class="footer-nav-link">Car Rental</a></li>
                </ul>

                <ul class="footer-nav-list">
                    <li class="footer-nav-item">
                        <h2 class="nav-title">Contact</h2>
                    </li>


                    <li class="footer-nav-item flex" (click)="openMapModal()">
                        <div class="icon-box">
                            <i class="fa-solid fa-location-dot"></i>
                        </div>

                        <address class="content">
                            44 Zamalek Club Wall
                            Mohandsen , Giza
                            Near To Costa Coffee
                        </address>
                    </li>


                    <li class="footer-nav-item flex">
                        <div class="icon-box">
                            <i class="fa-solid fa-headset"></i>
                        </div>

                        <a href="tel:+607936-8058" class="footer-nav-link">(20) 127-0074-186</a>
                    </li>

                    <li class="footer-nav-item flex">
                        <div class="icon-box">
                            <i class="fa-solid fa-envelope"></i>
                        </div>

                        <a href="mailto:example@gmail.com" class="footer-nav-link">tripixv911&#64;gmail.com</a>
                    </li>
                </ul>

                <ul class="footer-nav-list">
                    <li class="footer-nav-item">
                        <h2 class="nav-title">Follow Us</h2>
                    </li>

                    <li>
                        <ul class="social-link">
                            <li class="footer-nav-item">
                                <a href="#" class="footer-nav-link"><ion-icon name="logo-facebook"></ion-icon></a>
                            </li>

                            <li class="footer-nav-item">
                                <a href="#" class="footer-nav-link"><ion-icon name="logo-twitter"></ion-icon></a>
                            </li>

                            <li class="footer-nav-item">
                                <a href="#" class="footer-nav-link"><ion-icon name="logo-linkedin"></ion-icon></a>
                            </li>

                            <li class="footer-nav-item">
                                <a href="#" class="footer-nav-link"><ion-icon name="logo-instagram"></ion-icon></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <img src="https://i.postimg.cc/43GKnVFF/payment.png" alt="payment method" class="payment-img">
                <p class="copyright">Copyright &copy; <a href="#">Tripix</a> all rights reserved</p>
            </div>
        </div>
    </footer>

    <!-- زر لفتح النافذة -->

    <div class="modal-overlay" *ngIf="isMapOpen">
        <!-- النافذة المنبثقة -->
        <div class="map-modal" *ngIf="isMapOpen">
            <div class="map-container">
                <span class="close-btn" (click)="closeMapModal()">&#10006;</span>
                <div id="map"></div>
            </div>
        </div>
    </div>

    <!-- Overlay لإضافة تأثير الـ Blur -->
    <div class="overlay" *ngIf="isMapOpen"></div>

</body>

</html>