<div class="intro">
    <div class="visual">
      <img src="../../../assets/images/service background.jpg" class="bg-img"/>
    </div>
    <h1 class="title">Let's Take A Look At The Services We Offer</h1>
    <div class="container">
        <div class="chevron"></div>
        <div class="chevron"></div>
        <div class="chevron"></div>
        <span class="text">Scroll down</span>
      </div>
  </div>
  
  <div class="slide-container">
    <section id="slide-1" class="slide slide-odd">
      
      <img src="../../../assets/images/Common rental car mistakes — and how to avoid them - The Points Guy.jpg" class="bg-img" />
      <h2 class="slide-title">Car Rental</h2> 
    
    </section>
  
    <section id="slide-2" class="slide slide-even">
      <img src="../../../assets/images/Which Brake Line Wrench Is Right for My Vehicle_.jpg" class="bg-img" />
      <h2 class="slide-title">Maintenance</h2>
    </section>
  
    <section id="slide-3" class="slide slide-odd">
      <img src="../../../assets/images/Premium Photo _ Process of professional car wash with chemical detergent and high pressure washer.jpg" class="bg-img" />
      <h2 class="slide-title">Washing</h2>
    </section>
    
    <section id="slide-4" class="slide slide-even">
      <img src="../../../assets/images/Autot eivät käynnistyneet mystisestä syystä taloyhtiön pihalla - Syy löytyi lähiparvekkeelta.jpg" class="bg-img" />
      <h2 class="slide-title">Helpoo</h2>
    </section>
    
    <div class="slide-progress"></div>
  </div>
  
  <footer>
    <h2 style="font-family: cursive;">We are Always At Your Service And We Care About Your Satisfaction</h2>
  </footer>