 <section></section>
 <app-loader [isLoading]="isLoading"></app-loader> 
<router-outlet></router-outlet> 

<!-- <app-edit-account></app-edit-account> -->



 <!-- <app-washlets></app-washlets> -->

 <!-- <app-home></app-home> -->
 <!-- <app-trip-request></app-trip-request> -->

 <!-- <app-tripix></app-tripix> -->

 <!-- <app-start-engine></app-start-engine> -->

 <!-- <app-searching-trip></app-searching-trip> -->

 <!-- <app-test2></app-test2> -->

 <!-- <app-driver-login></app-driver-login> -->
 
 

 <!-- <section>
        <div>
                <app-intro2></app-intro2>
        </div>
</section>  -->


 <!-- <app-home></app-home>  -->
 <!-- <app-services></app-services> -->

 

  
<!-- <app-blogs></app-blogs> -->

  <!-- <app-events></app-events>    -->

<!-- <app-hotels></app-hotels> -->

<!-- <app-test></app-test>   -->
<!-- <app-tripix></app-tripix> -->
<!-- <app-event></app-event> -->
<!-- <app-loading></app-loading> -->
<!-- <app-car-rent></app-car-rent>  -->
<!-- <app-car-wash></app-car-wash> -->
 <!-- <app-driver-page></app-driver-page> -->
  <!-- <app-license-card></app-license-card> -->
  <!-- <router-outlet></router-outlet> -->
   <!-- <app-driver-info></app-driver-info> -->
<!-- <app-driver-profile></app-driver-profile> -->
 <!-- <app-edit-account></app-edit-account> -->
  <!-- <app-addcar-phohtos></app-addcar-phohtos> -->
<!-- <app-car-license></app-car-license> -->
 <!-- <app-criminalrecord></app-criminalrecord> -->
  <!-- <app-face-id></app-face-id> -->
   <!-- <app-chat-bot></app-chat-bot> -->

   <!-- <app-test4></app-test4>  -->

   <!-- <app-license-card></app-license-card> -->
    <!-- <app-our-cars></app-our-cars> -->

    

    
      

    <!-- <app-dashboard ></app-dashboard> -->
    <!-- <app-login></app-login> -->
    <!-- <app-payment></app-payment> -->
    <!-- <app-helpoo></app-helpoo> -->
    <!-- <app-car-maintenance></app-car-maintenance> -->
     <!-- <app-faq></app-faq>   -->
    <!-- <app-about></app-about> -->
     <!-- <app-jobs></app-jobs> -->
    <!-- <app-tips></app-tips> -->
    <!-- <app-tip></app-tip> -->
    <!-- <app-vehicle></app-vehicle> -->
    <!-- <app-sparepart></app-sparepart> -->
    <!-- <app-sell-car></app-sell-car> -->
    <!-- <app-our-story></app-our-story> -->
    <!-- <app-chat-bot></app-chat-bot> -->
    <!-- <app-testoo></app-testoo> -->
    <!-- <app-test2></app-test2> -->
    <!-- <app-add-credit></app-add-credit> -->
    <!-- <app-tripix></app-tripix> -->
    <!-- <app-recruiter></app-recruiter> -->
     <!-- <app-vehicle></app-vehicle> -->
