<div class="main-container">
    <!-- دراج كونتينر -->
    <div class="upload-container"
         (dragover)="onDragOver($event)" 
         (dragleave)="onDragLeave()"
         (drop)="onDrop($event)"
         [ngClass]="{ 'dragging': isDragging }">
  
      <div *ngIf="loading" class="loading-animation">
        <div class="loading-spinner"></div>
      </div>
  
      <div *ngIf="!images.length && !loading" class="placeholder">
        <p>Drag & Drop your images here</p>
      </div>
  
      <div *ngIf="images.length" class="image-container">
        <div *ngFor="let img of images; let i = index" class="image-item">
          <img [src]="img.url" [alt]="img.name" />
          <div class="image-info">
            <p>{{ img.name }}</p>
            <p>{{ img.size | number }} KB</p>
          </div>
          <i class="trash-icon" (click)="removeImage(i)">🗑</i>
        </div>
      </div>
  
      <!-- زر الإرسال داخل الدراج كونتينر -->
      <button class="submit-btn" (click)="submitImages()" [disabled]="!images.length">Submit</button>
    </div>
  
    <!-- زر الرفع أسفل الـ Drag Container -->
    <button class="upload-btn" (click)="fileInput.click()">Upload Images</button>
    <input type="file" #fileInput multiple (change)="onFileSelect($event)" hidden>
  </div>
  