<div style="width: 1500px">
  <section>
    <div class="stuck-grid">
      <div class="grid-item"><img src="../../../assets/images/carrepair.jpg"></div>
      <div class="grid-item">All Your Services</div>
      <div class="grid-item">Value For Money</div>
      <div class="grid-item">Your ride, Your Way</div>
      <div class="grid-item">Fast, Easy, Safe.</div>
      <div class="grid-item">We Appreciate Your Time</div>
      <div class="grid-item">Are A Big Part Of Our Success.</div>
      <div class="grid-item">Wash, Fix, And Go</div>
      <div class="grid-item">We Care For Your Ride</div>
      <div class="grid-item">Your Car, Or Srvice</div>
      <div class="grid-item special"><b>Tripix</b></div>
      <div class="grid-item">Drive Clean, Stay Smooth</div>
      <div class="grid-item">Fast Rides, Great Car Care</div>
      <div class="grid-item">Quick Rides And Expert Car Care</div>
      <div class="grid-item">Your Car’s Well-Being Is Our Job</div>
      <div class="grid-item">Quick Rides, Spotless Cars</div>
      <div class="grid-item">Smooth Rides, Clean Cars</div>
      <div class="grid-item">Get Your Ride And Car Care In One Place</div>
      <div class="grid-item">Your Ride, Our Care</div>
      <div class="grid-item">Drive More, Care More</div>
      <div class="grid-item">Fast Rides And Flawless Car Care</div>
      <div class="grid-item">From Ride To Repair – We Do It All</div>
      <div class="grid-item">Earn While Your Car Stays In Shape</div>
      <div class="grid-item">Drive smart, keep your car Fresh 💕</div>
      <div class="grid-item">Ride Easy, Car Cared For</div>
      <div class="grid-item">On Time, With A Well-Maintained Car</div>
      <div class="grid-item">Your Car, Our Priority</div>
      <div class="grid-item">Ride, Repair, And Go </div>
      <div class="grid-item">accent-color</div>
      <div class="grid-item">Quick Rides, Quick Car Care</div>
      <div class="grid-item">Ride In Comfort, Drive In Style</div>
      <div class="grid-item">Reliable Rides, Premium Car Care</div>
      <div class="grid-item">Ride Clean, Feel Like New</div>
      <div class="grid-item">Earn More, Drive Fresh</div>
      <div class="grid-item"><img src="../../../assets/images/Autot eivät käynnistyneet mystisestä syystä taloyhtiön pihalla - Syy löytyi lähiparvekkeelta.jpg"></div>
      <div class="grid-item">More Miles, More Shine</div>
      <div class="grid-item">Your Car, Your Edge</div>
      <div class="grid-item">We Move You, We Care For Your Car</div>
      <div class="grid-item">Quick Care, Steady Ride</div>
      <div class="grid-item">Arrive Fresh, Every Mile</div>
      <div class="grid-item">Shiny Car, Steady Cash</div>
      <div class="grid-item">Keep Rolling, We’ll Keep It Clean</div>
      <div class="grid-item">We Care, You Ride</div>
      <div class="grid-item">Smooth Rides, Seamless Care</div>
      <div class="grid-item">Helpoo , Help Your Car </div>
      <div class="grid-item">Earn More, Shine More</div>
      <div class="grid-item">Stay Fresh, Keep Earning</div>
    </div>
    <div style=" height: 2300px;">
    
    </div>
    </section>
    <section >
      <app-question></app-question>
    </section>
</div>
